# Xcode
DerivedData/
build/
*.xcuserstate
*.xcscmblueprint
*.moved-aside

# User-specific Xcode data
*.xcuserdatad/
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# Archives and reports
*.xcarchive
*.xcresult
